@font-face{
    src: url(../fonts/Montserrat-Black.ttf);
    font-family: 'Montserrat Black';
}
@font-face{
    src: url(../fonts/Montserrat-Bold.ttf);
    font-family: 'Montserrat Bold';
}
@font-face{
    src: url(../fonts/Montserrat-Light.ttf);
    font-family: 'Montserrat Light';
}
@font-face{
    src: url(../fonts/Montserrat-Regular.ttf);
    font-family: 'Montserrat Normal';
}
@font-face{
    src: url(../fonts/Montserrat-Thin.ttf);
    font-family: 'Montserrat Thin';
}